.Teste2 {
  padding: 20px;
  text-align: center;
  background-color: rgb(192, 207, 255);
}

.Teste2 h2{
    color: rgb(0, 0, 0);
}

.containerTeste {
  margin-top: 20px;
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
    background-color: rgb(247, 0, 255);
}
